{{! template-lint-disable }}

<div class="form">
  {{!-- BEGIN-SNIPPET demo-form --}}
  <div class="register">
    <h2>Create an Account (Exemple1)</h2>
    <form>
      <div class="section">
        <div class="form-group">
          <Input class="form-control" type="text" placeholder="Username"
           @value={{this.user.username}} attr="username" />
          <ListenErrors @model={{this.user}} @attr="username" />
        </div>
        <div class="form-group">
          <Input class="form-control" type="password" placeholder="Password"
           @value={{this.user.password}} attr="password" />
          <ListenErrors @model={{this.user}} @attr="password" />
        </div>
        <div class="form-group">
          <Input class="form-control" type="text" placeholder="Email"
           @value={{this.user.email}} attr="email" />
          <ListenErrors @model={{this.user}} @attr="email" />
         </div>
        <div class="form-group">
          <Input class="form-control" type="text" placeholder="Verify Email"
           @value={{this.user.confirmEmail}} attr="confirmEmail" />
          <ListenErrors @model={{this.user}} @attr="confirmEmail" />
        </div>
        <div class="form-group">
          <Input class="form-control" type="text" placeholder="First Name"
           @value={{this.user.firstName}} attr="firstName" />
          <ListenErrors @model={{this.user}} @attr="firstName" />
         </div>
        <div class="form-group">
          <Input class="form-control" type="text" placeholder="Last Name"
           @value={{this.user.firstlastNameName}} attr="lastName" />
          <ListenErrors @model={{this.user}} @attr="lastName" />
        </div>
        <div class="form-group">
          <Input class="form-control" type="text" placeholder="Date of Birth (DD/MM/YYYY)"
           @value={{this.user.dateBirth}} attr="dateBirth" />
          <ListenErrors @model={{this.user}} @attr="dateBirth" />
        </div>
        <div class="form-group">
          <Input class="form-control" type="text" placeholder="Phone #"
           @value={{this.user.phone}} attr="phone" />
          <ListenErrors @model={{this.user}} @attr="phone" />
        </div>
        <div class="form-group">
          <Input class="form-control" type="text" placeholder="URL"
           @value={{this.user.url}} attr="url" />
          <!--
            It is possible to customize the errors
          -->
          <ul class="error-messages">
            <ListenErrors @model={{this.user}} @attr="url" as |violation|>
              <li data-test-error-item>{{violation}}</li>
            </ListenErrors>
          </ul>
        </div>
      </div>
      <div class="section">
        <button type="button" {{on "click" this.save}}>Sign Up</button>
      </div>
    </form>
  </div>
  {{!-- END-SNIPPET --}}
  <footer>
    <a class="show-code bottom" {{on "click" this.toggleShowCode}}><i class="fa fa-code"></i> Show Code<i class="fa fa-code"></i></a>
  </footer>
</div>

<div class='snippet-container {{if this.showCode 'show'}}'>
  <ul class="nav nav-tabs">
    <li><a class="snippet-link {{if (eq this.file "user-model.js") "selected"}}" {{on "click" (fn this.changeFile 'user-model.js' 'js')}}>models/user.js</a></li>
    <li><a class="snippet-link {{if (eq this.file "demo-form.js") "selected"}}" {{on "click" (fn this.changeFile 'demo-form.js' 'js')}}>account-form.js</a></li>
    <li><a class="snippet-link {{if (eq this.file "demo-form.hbs") "selected"}}" {{on "click" (fn this.changeFile 'demo-form.hbs' 'markup')}}>account-form.hbs</a></li>
  </ul>
  <div class="tab-content">
    {{#let (get-code-snippet this.file) as |snippet|}}
      <CodeBlock @language={{this.language}} @code="{{snippet.source}}" />
    {{/let}}
  </div>
</div>